[Unit]
Description=bouffe
After=network.service
Requires=nginx.service

[Service]
WorkingDirectory=/var/www/bouffe-ua2k15
ExecStart=/usr/bin/npm start
Restart=always
Environment='NODE_ENV=production'
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
